@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Varela+Round&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;

}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #000;
}

header{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    

}

header .barra ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 20px;
    text-transform: uppercase;
    list-style: none;
}

header .barra ul a{
    text-decoration: none;
    color: white;
    transition: all ease-in-out .3s;
    
}

header i{
    font-size: 2.7rem;
}

.barra ul a:hover{
    transform: translateY(-5px);
}

/* PRIMEIRA SECAO*/

#hero .linha{
    color: white;
    font-size: 2.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14%;
    gap: 30px;
   
}

#hero i{
    font-size: 9rem;

}

#hero .nomemarca p{
    text-align: left;
    border-bottom: white 3px solid;
    font-family: "Space Grotesk", sans-serif;


       
}

.seta{
    font-size: 3rem;
    text-align: center;
    margin-top: 16%;
}
